/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0c1618;
  --blue: #162b8c;
  --yellow: #f5cc00;
  --yellow-accent: #ffd91a;
  --orange: #ff900f;
  --white: #ffffff;
  --silver: #c0c0c0;
  --gray: #999999;
  --red: #ff0000;
  --maroon: #800000;
  --olive: #808000;
  --lime: #00ff00;
  --green: #008000;
  --aqua: #00ffff;
  --teal: #008080;
  --navy: #000080;
  --fuchsia: #ff00ff;
  --purple: #800080;
}

@layer components {
  .next-prev-btn {
    @apply text-4xl;
  }
  #close {
    @apply hover:animate-wiggle;
  }
  .masonry {
    column-count: 2; /* Number of columns */
    gap: 1rem; /* Gap between columns */
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem; /* Gap between items */
    break-inside: avoid-column; /* Prevent items from breaking across columns */
  }
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  @apply px-4 py-2 rounded bg-blue text-yellow hover:text-black;
}
button:disabled,
button[disabled], button:disabled,
button[disabled] {
  background-color: gray !important;
  color:black !important;
}

.truncate-ellipsis {
  @apply max-h-10 relative overflow-hidden text-ellipsis whitespace-nowrap
}

.card-image {
  filter: brightness(100%);
  transition: filter 1s ease, pointer-events 0s step-end 1s;
}

.card-image:hover {
  filter: brightness(70%);
  transition: filter 1s ease, pointer-events 0s;
}

.buttons {
  @apply absolute z-[999] bottom-4 w-full px-6 hidden
}

.card-image:hover + .buttons,
.buttons:hover {
  @apply transition delay-700 duration-300 ease-in-out flex w-full justify-between items-center;
}

.modal-container{
  margin:0 !important;
  @apply bottom-0 left-5 shadow-black shadow-lg flex-col h-[calc(90vh-75px)] w-[calc(100%-50px)];
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}